@model List<AppMVC.Models.Person>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<h1>Hotel Management App</h1>
<p>Read the description, this application will simplify your life!</p>
@foreach (var per in Model)
{
    <li>Name: @per.Name</li>
    <li>Age: @per.Age</li>
    <li>IdNum: @per.IdNum</li>
}
